In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from keras.preprocessing.text import text_to_word_sequence
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
reviews = pd.read_csv('Reviews.csv')

In [33]:
reviews.head()

,Timestamp,How would you score the class,Explain why you gave that score? (What is good about the class? What is bad about the class? What could make the class better?),"Polarity (-1, 0, 1)",Suggestions (0 or 1),Suggestions,Flag (0 1),Flag Data
0,2/15/2019 13:42:01,1,we suck. ...,NaN,NaN,NaN,NaN,NaN
1,2/15/2019 14:37:29,1,no naptime / cheese ohnononononnononononononon...,NaN,NaN,NaN,NaN,NaN
2,2/15/2019 11:06:42,2,Because of mr liberman and i need to calm down...,NaN,NaN,NaN,NaN,NaN
3,2/15/2019 11:08:46,2,I gave this class a 2 because it is too fast f...,NaN,NaN,NaN,NaN,NaN
4,2/15/2019 11:06:05,3,Mr. Liberman is a fun teacher but we have to r...,NaN,NaN,NaN,NaN,NaN

In [34]:
reviews.shape

(133, 8)

In [35]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 8 columns):
Timestamp                                                                                                                          133 non-null object
How would you score the class                                                                                                      133 non-null int64
Explain why you gave that score? (What is good about the class? What is bad about the class? What could make the class better?)    132 non-null object
Polarity (-1, 0, 1)                                                                                                                0 non-null float64
Suggestions (0 or 1)                                                                                                               0 non-null float64
Suggestions                                                                                                                        0 non-null float64
Flag (0 1)                                                                                                                         0 non-null float64
Flag Data                                                                                                                          0 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 8.4+ KB

In [36]:
reviews.describe()

,How would you score the class,"Polarity (-1, 0, 1)",Suggestions (0 or 1),Suggestions,Flag (0 1),Flag Data
count,133.000000,0.0,0.0,0.0,0.0,0.0
mean,4.255639,NaN,NaN,NaN,NaN,NaN
std,0.813281,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN
25%,4.000000,NaN,NaN,NaN,NaN,NaN
50%,4.000000,NaN,NaN,NaN,NaN,NaN
75%,5.000000,NaN,NaN,NaN,NaN,NaN
max,5.000000,NaN,NaN,NaN,NaN,NaN

In [47]:
reviews.rename(
    columns={
        'Explain why you gave that score? (What is good about the class? What is bad about the class? What could make the class better?)' : 'rev', 'How would you score the class' : 'stars'
    },
    inplace=True
)
reviews.head()

,Timestamp,How would you score the class,rev,"Polarity (-1, 0, 1)",Suggestions (0 or 1),Suggestions,Flag (0 1),Flag Data,text length
0,2/15/2019 13:42:01,1,we suck. ...,NaN,NaN,NaN,NaN,NaN,167
1,2/15/2019 14:37:29,1,no naptime / cheese ohnononononnononononononon...,NaN,NaN,NaN,NaN,NaN,86
2,2/15/2019 11:06:42,2,Because of mr liberman and i need to calm down...,NaN,NaN,NaN,NaN,NaN,117
3,2/15/2019 11:08:46,2,I gave this class a 2 because it is too fast f...,NaN,NaN,NaN,NaN,NaN,268
4,2/15/2019 11:06:05,3,Mr. Liberman is a fun teacher but we have to r...,NaN,NaN,NaN,NaN,NaN,113

In [38]:
reviews['rev'] = reviews['rev'].apply(str)
## This converts the column values of reviews to strings

In [39]:
reviews['text length'] = reviews['rev'].apply(len)
reviews.head()

#this creates a new column that will apply the text length of review

,Timestamp,How would you score the class,rev,"Polarity (-1, 0, 1)",Suggestions (0 or 1),Suggestions,Flag (0 1),Flag Data,text length
0,2/15/2019 13:42:01,1,we suck. ...,NaN,NaN,NaN,NaN,NaN,167
1,2/15/2019 14:37:29,1,no naptime / cheese ohnononononnononononononon...,NaN,NaN,NaN,NaN,NaN,86
2,2/15/2019 11:06:42,2,Because of mr liberman and i need to calm down...,NaN,NaN,NaN,NaN,NaN,117
3,2/15/2019 11:08:46,2,I gave this class a 2 because it is too fast f...,NaN,NaN,NaN,NaN,NaN,268
4,2/15/2019 11:06:05,3,Mr. Liberman is a fun teacher but we have to r...,NaN,NaN,NaN,NaN,NaN,113

In [45]:
X = reviews['rev']
y = reviews['How would you score the class']

KeyError: 'How would you score the class'

In [46]:
bow_transformer = CountVectorizer(analyzer=text_to_word_sequence).fit(X)

In [41]:
print(bow_transformer.vocabulary_)

{'timestamp': 14, 'how': 5, 'would': 15, 'you': 16, 'score': 10, 'the': 13, 'class': 2, 'rev': 9, 'polarity': 8, '1': 1, '0': 0, 'suggestions': 11, 'or': 7, 'flag': 4, 'data': 3, 'text': 12, 'length': 6}